// assets/colors.scss

// expose primary shades as background color
._color-primary- {
	&light {
		background-color: $color-primary-light !important;
	}

	&lightest {
		background-color: $color-primary-lightest !important;
	}

	&dark {
		background-color: $color-primary-dark !important;
	}

	&darkest {
		background-color: $color-primary-darkest !important;
	}
}

// expose primary shades as font color
._text-color-primary- {
	&light {
		color: $color-primary-light !important;
	}

	&lightest {
		color: $color-primary-lightest !important;
	}

	&dark {
		color: $color-primary-dark !important;
	}

	&darkest {
		color: $color-primary-darkest !important;
	}
}

// @mixin purple-gradient($attribute) {
// 	#{$attribute}: -webkit-linear-gradient($second-color-for-gradient, $purple) !important;
// 	#{$attribute}: -moz-linear-gradient($second-color-for-gradient, $purple) !important;
// 	#{$attribute}: -ms-linear-gradient($second-color-for-gradient, $purple) !important;
// 	#{$attribute}: -o-linear-gradient($second-color-for-gradient, $purple) !important;
// 	#{$attribute}: linear-gradient($second-color-for-gradient, $purple) !important;
// }
