// assets/colors.scss

// expose primary shades as background color
._color-primary- {
	&light {
		background-color: $color-primary-light !important;
	}

	&lightest {
		background-color: $color-primary-lightest !important;
	}

	&dark {
		background-color: $color-primary-dark !important;
	}

	&darkest {
		background-color: $color-primary-darkest !important;
	}
}

// expose primary shades as font color
._text-color-primary- {
	&light {
		color: $color-primary-light !important;
	}

	&lightest {
		color: $color-primary-lightest !important;
	}

	&dark {
		color: $color-primary-dark !important;
	}

	&darkest {
		color: $color-primary-darkest !important;
	}
}
