a:hover:not(.no-hover) {
	color: $cn-color-secondary !important;
}

.nuxt-content a {
	color: $cn-color-primary;
	font-weight: bold;
	text-decoration: underline;
}

.link-icon {
	display: flex;
	justify-content: flex-start;
	text-align: left;
	font-weight: 700;
	font-size: 14px;
	cursor: pointer;

	svg,
	span {
		transition: all 0.3s linear;
	}

	&:hover {
		text-decoration: underline;

		svg {
			transform: scale(1.2);
		}
	}

	@media screen and (max-width: $mobile-max-width) {
		justify-content: center;
		text-align: center;
		width: 100%;
	}
}
