@media screen and (min-width: 0) and (max-width: 575px) {
	.container {
		margin-right: 30px !important;
		margin-left: 30px !important;
		max-width: calc(100% - 60px) !important;
	}
}

@media screen and (min-width: 576px) {
	.container {
		max-width: 516px !important;
	}
}

@media screen and (min-width: 768px) {
	.container {
		max-width: 708px !important;
	}
}

@media screen and (min-width: 992px) {
	.container {
		max-width: 932px !important;
	}
}

@media screen and (min-width: 1200px) {
	.container {
		max-width: 1160px !important;
	}
}

.cn-bg-brand {
	background-color: $cn-color-brand;
}

.cn-bg-primary {
	background-color: $cn-color-primary;
}

.cn-bg-primary_light {
	background-color: $cn-color-primary_light;
}

.cn-bg-secondary {
	background-color: $cn-color-secondary;
}

.cn-bg-cyan {
	background-color: $cn-color-cyan;
}

.cn-icon {
	height: 80px;
	width: auto;

	@media screen and (max-width: $mobile-max-width) {
		height: 60px;
	}
}

a:hover:not(.no-hover) {
	color: $cn-color-secondary !important;
}
