.slick-slider {
	background: white;
	box-shadow: $cn-shadow-sm;
	padding: 95px 50px 50px;
	border-radius: 30px;

	.slick-dots {
		bottom: 15px;
		left: 0;

		.custom-dot {
			width: 15px;
			height: 15px;
			border-radius: 30px;
			background: $cn-color-primary_light;
			border: 1px solid $cn-color-dark !important;
			transition: all 0.3s ease-out;

			@media screen and (max-width: 767px) {
				width: 12px;
				height: 12px;
			}

			&:hover {
				background: $cn-color-primary;
				transform: scale(1.2);
			}
		}

		li {
			margin: 0 3px;

			@media screen and (max-width: 767px) {
				width: 15px !important;
				height: 15px !important;
			}
		}

		.slick-active {
			.custom-dot {
				background: $cn-color-primary;
			}
		}

		@media screen and (max-width: 529px) {
			bottom: 0;
		}
	}

	.slick-arrow {
		img {
			object-fit: contain;
		}

		&.slick-next {
			right: -30px;
		}

		&.slick-prev {
			left: -30px;
		}
	}

	.custom-arrow {
		width: 80px;
		height: 80px;

		@media screen and (max-width: 1280px) {
			width: 60px;
			height: 60px;
		}

		&::before {
			content: none;
		}
	}

	.slick-prev,
	.slick-next {
		border-radius: 50%;
		box-shadow: $cn-shadow-sm;
		transform: translate(0, -50%);
		transition: all 0.3s ease-out;

		&:hover {
			box-shadow: $cn-shadow-hoverBtn;
			transform: translate(0, -50%) scale(1.02);
		}
	}
}
