// assets/variables.scss

// TYPOGRAPHY
$font-family-primary-base: 'Proxima nova', -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen sans', 'Ubuntu', 'Cantarell', 'Helvetica Neue', sans-serif;
$font-size-base: 1rem;

// COLORS
$color-primary: #1460b6;
$color-primary-light: lighten($color-primary, 15%);
$color-primary-lightest: lighten($color-primary, 30%);
$color-primary-dark: darken($color-primary, 10%);
$color-primary-darkest: darken($color-primary, 20%);
$text-dark-color: #3d4753;
$text-muted_blue-color: #7c8ca2;
$text-light-color: #f1f1f1;

// OTHERS
$border-radius-base: 3px;
$navbar-padding-base: 12px 0;

$background-grey: #edf0f4;

// Color scheme
$cn-color-brand: #244583;
$cn-color-primary: #1460b6;
$cn-color-primary_light: #a3dbeb;
$cn-color-secondary: #f6963d;
$cn-color-secondary-light: #fed19a;
$cn-color-dark: #0b2533;
$cn-color-grey: #c7cfd6;
$cn-color-grey_light: #e9ecef;
$cn-color-light: #f8f9fa;
$cn-color-accent: #db3216;
$cn-color-black: #000;
