$color-primary: #244484;
$color-primary-light: lighten($color-primary, 15%);
$color-primary-lightest: lighten($color-primary, 30%);

$border-radius-base: 3px;

$navbar-padding-base: 12px 0;

._color-primary-light {
	background-color: $color-primary-light !important;
}

._color-primary-lightest {
	background-color: $color-primary-lightest !important;
}

._text-primary-light {
	color: $color-primary-light !important;
}

._text-primary-lightest {
	color: $color-primary-lightest !important;
}
